@import "color.css";
@import "typography.css";

:root {
  --transition-time: 80ms;

  box-sizing: border-box;
  height: 100vh;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-weight: normal;
  line-height: var(--line-height);
}

body {
  height: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size);
  text-rendering: optimizeLegibility;
  background-color: var(--page-color);
  color: var(--text-primary);

  background-image: radial-gradient(
    circle at 1px 1px,
    rgb(from var(--color-black) r g b / 0.2) 1px,
    transparent 0
  );
  background-size: 1rlh 1rlh;
}

p {
  margin-top: 1rlh;
  margin-bottom: 1rlh;
}

a {
  transition: text-decoration-color var(--transition-time),
    color var(--transition-time);
  text-underline-offset: 0.2rem;
}

a:link,
a:visited {
  color: unset;
}

a:hover,
a:focus {
  color: var(--text-secondary);
  text-decoration-color: transparent;
}
